body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('bg1.png');
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(202, 146, 185, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #efe5ec;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ddc0dd;
  color: #0f0224;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f9b0fa;
}

a {
  color: #681d85;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

